<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <section class="container block">
        <div class="accordion-wrapper">
            <div class="accordion__intro">
                <h2 class="accordion__title">رزومه و سوابق </h2>
                <span>
                    <span>ویرایش</span>
                    <span><i class="far fa-edit"></i></span>
                </span>
            </div>
            <div class="accordion">
                <header class="accordion__header">
                  <h2 class="accordion__heading">سابقه ی تحصیلی</h2>
                  <div class="icon">
                    <i class="fa-solid fa-chevron-left"></i>
                  </div>
                </header>
                <div class="accordion__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                        repudiandae quam, magni inventore numquam quos recusandae harum quia a
                        iusto quis tempora aperiam maiores exercitationem ipsa, culpa, ullam
                        iste laudantium!
                    </p>
                </div>
              </div>
              <div class="accordion">
                <header class="accordion__header">
                  <h2 class="accordion__heading">سابقه ی تحصیلی</h2>
                  <div class="icon">
                    <i class="fa-solid fa-chevron-left"></i>
                  </div>
                </header>
                <div class="accordion__content">
               <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                repudiandae quam, magni inventore numquam quos recusandae harum quia a
                iusto quis tempora aperiam maiores exercitationem ipsa, culpa, ullam
                iste laudantium!
               </p>
                </div>
              </div>
        </div>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
