<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" dir="rtl" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>travel section</title>
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <section class="container travel block">
      <div class="travel__slides">
        <div class="travel__slide">
          <div class="slide__image">
            <img src="../assets/images/travell.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__detail-header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب جنگل</p>
            <div class="slide__icons">
              <div class="slide__icons-right">
                <i class="fas fa-heart"></i><span>12</span>
                <i class="far fa-eye"></i><span>42</span>
              </div>
              <div class="slide__icons-left">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar-group-visible">
                <div class="avatar">
                  <img src="../assets/images/avatar-1.jpg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-2.jpeg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-3.jpg" alt="" />
                </div>
              </div>
              <div class="hidden-avatars">+10</div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__image">
            <img src="../assets/images/travell-2.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__detail-header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب جنگل</p>
            <div class="slide__icons">
              <div class="slide__icons-right">
                <i class="fas fa-heart"></i><span>12</span>
                <i class="far fa-eye"></i><span>42</span>
              </div>
              <div class="slide__icons-left">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar-group-visible">
                <div class="avatar">
                  <img src="../assets/images/avatar-1.jpg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-2.jpeg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-3.jpg" alt="" />
                </div>
              </div>
              <div class="hidden-avatars">+10</div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__image">
            <img src="../assets/images/travell-3.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__detail-header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب جنگل</p>
            <div class="slide__icons">
              <div class="slide__icons-right">
                <i class="fas fa-heart"></i><span>12</span>
                <i class="far fa-eye"></i><span>42</span>
              </div>
              <div class="slide__icons-left">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar-group-visible">
                <div class="avatar">
                  <img src="../assets/images/avatar-1.jpg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-2.jpeg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-3.jpg" alt="" />
                </div>
              </div>
              <div class="hidden-avatars">+10</div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__image">
            <img src="../assets/images/travell-4.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__detail-header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب جنگل</p>
            <div class="slide__icons">
              <div class="slide__icons-right">
                <i class="fas fa-heart"></i><span>12</span>
                <i class="far fa-eye"></i><span>42</span>
              </div>
              <div class="slide__icons-left">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar-group-visible">
                <div class="avatar">
                  <img src="../assets/images/avatar-1.jpg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-2.jpeg" alt="" />
                </div>
                <div class="avatar">
                  <img src="../assets/images/avatar-3.jpg" alt="" />
                </div>
              </div>
              <div class="hidden-avatars">+10</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
